/** COULEURS **/
$primary_color: #007bff;

$light_grey_color: #f8f9fa;
$grey_color: #6c757d;
$dark_grey_color: #333;

$success_color: #28a745;
$warning_color: #ffc107;
$danger_color: #dc3545;

$light_color: #f8f9fa;
$dark_color: #333;

$border_color: #e9ecef;
$highlight_color: #dee2e6;
$text_highlight_color: #ffa500;

/** ESPACEMENTS **/
$very_small_space: 2px;
$small_space: 5px;
$normal_space: 10px;
$big_space: 20px;
$very_big_space: 50px;

/** TAILLES DE POLICES **/
$small_font_size: 10px;
$normal_font_size: 15px;
$title_font_size: 30px;

/** POLICES **/
@font-face {
    font-family: inter;
    src: url("../../assets/fonts/inter_variable.ttf");
}

$main_font: inter;