@import 'reset_css';
@import 'variables';

/* Désactiver la sélection de texte */
::-moz-selection {
  background: $highlight_color;
  text-shadow: none;
}
::selection {
  background: $highlight_color;
  text-shadow: none;
}